<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{meta_title}}</title>

    {{ghost_head}}

    <style>
    body {
      font-family: Verdana, sans-serif;
      margin: auto;
      padding: 20px;
      max-width: 720px;
      text-align: left;
      background-color: white;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }

    a {
      /* color: #eba613; */
      color: #3273dc;
    }

    h2 a {
      font-weight: 400;
      color: #000;
      text-decoration: none;
    }

    nav a {
      margin-right: 10px;
    }

    textarea {
      width: 100%;
      font-size: 0.8em;
    }

    table {
      width: 100%;
    }

    img {
      max-width: 100%;
    }

    pre code {
      background-color: #eee;
      border-left: 1px solid #999;
      display: block;
      padding: 15px;
      white-space: pre-wrap;
    }

    footer {
      padding: 25px;
      text-align: center;
    }
  </style>

</head>
<body class="{{body_class}}">

<header>
    <h2>{{@site.title}}</h2>
    {{navigation}}
</header>

<main>
    {{{body}}}
</main>

<footer>
    Made with <a href="https://ghost.org">Ghost</a>
</footer>

{{ghost_foot}}

</body>
</html>