
{{!< default}}

<header class="gh-header">
    <h1>{{statusCode}}</h1>
    <p>{{message}}</p>
</header>

<section class="gh-content">
    {{#if errorDetails}}
    <ul>
        {{#foreach errorDetails}}
        <li>
            <h5>{{{rule}}}</h5>
            {{#foreach failures}}
            <span><strong>Ref:</strong> {{ref}}</span><br>
            <span><strong>Message:</strong> {{message}}</span>
            {{/foreach}}
        </li>
        {{/foreach}}
    </ul>
    {{/if}}
</section>