{{!< default}}

<div class="gh-container">
    <div class="gh-postfeed">
        {{#foreach posts visibility="all"}}
        <a class="{{post_class}}" href="{{url}}">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM, YYYY"}}</time> - <span>{{title}}</span>
        </a>
        {{/foreach}}
    </div>
</div>